@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

.portrait {
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 50%;
    background-color: rgb(30, 30, 30);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 240px;
    height: 240px;
}

.header {
    background-color: rgb(85, 107, 47);
    height: 350px;
}

.tab-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab-btn {
    background: none;
    border: none;
    cursor: pointer;
}